[submodule "Temperature-Logger-Iot"]
	path = Temperature-Logger-Iot
	url = https://github.com/chaudi/Temperature-Logger-Iot.git                

[submodule "IotDeviceLibrary"]
	path = IotDeviceLibrary
	url = https://github.com/chaudi/IotDeviceLibrary.git                                                                                                                